@model UdemyVideoSite.Models.Movie

@{
    ViewBag.Title = "ReadOnlyForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadOnlyForm</h2>

<h2> @Model.Name Details</h2>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate</li>
    <li>Date Added: @Model.DateAdded</li>
    <li>Stock: @Model.Stock</li>
</ul>