@using Microsoft.Ajax.Utilities
@model UdemyVideoSite.Models.Customer

@{
    ViewBag.Title = Model.Name+" Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Model.Name Details</h2>

<ul>
    <li>Name: @Model.Name</li>
    <li>Newsletter Subscriber: @Model.IsSubscribedToNewsletter</li>
    @if (!Model.Birthdate.IsNullOrWhiteSpace())
    {
        <li>Birthday: @Model.Birthdate</li>
    }
</ul>
<table class="table table-bordered table-hover">
    <thread>
        <tr>
            <th>Membership Type</th>
            <th>Fee</th>
            <th>Length</th>
            <th>Discount Rate</th>
        </tr>
    </thread>
    <tbody>
    <tr>
        <td>@Model.MembershipType.Name</td>
        <td>$@Model.MembershipType.SignUpFee</td>
        <td>@Model.MembershipType.DurationInMonths Months</td>
        <td>@Model.MembershipType.DiscountRate%</td>
    </tr>
    </tbody>
</table>