<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Udemy Video Rental Site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="min-height: 100%;">
    @Html.Partial("_NavBar")
<div class="container body-content" style="min-height: 100%;">
    <br>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Udemy Video Rental Site</p>
    </footer>
</div>

@Scripts.Render("~/bundles/lib")
@RenderSection("scripts", required: false)
</body>
</html>